<div class="bot1_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="bot1_title">单位主页</div>
                <ul class="ul1">
                    <li><a href="http://www.aircas.cn/">学校主页</a></li>
{#                    <li><a href="http://jwc.zmu.edu.cn/index.php">学校教务处</a></li>#}
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="bot1_title">关注微信</div>
                <img src="{{ url_for('static',filename='base/images/qrcode.png') }}" alt="" class="img-responsive"
                     height="120px" width="120px">
            </div>
            <div class="col-sm-4">
                <div class="bot1_title">邮政编码</div>
                <div class="phone2">1000944</div>
            </div>
        </div>
    </div>
</div>

<div class="bot2_wrapper">
    <div class="container">
        <div class="left_side">
            版权所有 © 中国科学院空天信息创新研究院 京ICP备20021838号 京公网安备11010802032366号
        </div>
        <div class="right_side"></div>
    </div>
</div>

</div>
<script src="{{ url_for('static',filename='base/js/script.js') }}"></script>
</body>
</html>
<!--底部结束-->